* { box-sizing : border-box; }

/* About Me Section */

a {
  display : block;
}

.header {
  display : block;
}

#about {
  background-color : #fffeea;
  color : #34495e;
  padding-top : 120px;
  padding-left : 50px;
  padding-right : 50px;
}

h1 {
  text-align : center;
  font-weight : 900;
  font-size : 60px;
  padding-bottom : 100px;
  font-family: "Open Sans"
}

h3 {
  font-family: "Open Sans"
}

.header-1 h1 {
  font-family : "Open Sans";
  text-align : center;
  margin-bottom : 40px;
}

.intro p {
  font-size : .75em;
  font-weight : 100;
  line-height: 2.5;
  -webkit-margin-before : 0;
  @media(max-width: 768px){
   font-size : 1em;
 }
}

.column {
  font-family : "Open Sans";
}

/* Contact Section */

#contact {
    background-image : url("../img/sanfran.jpg");
    background-attachment : fixed;
    background-size : cover;
    color : white;
    padding-top : 150px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.col-1, .col-2  {
    color : #654a4e;
    font-family : "Open Sans",Georgia,serif;
    font-size : 1.2em;
    line-height: 1.5;
}

.col-2 h3 {
  font-size : 2.0em;
}

.header {
  text-transform : uppercase;
  font-family : Cambria, Segoe UI, sans-serif;
  margin-bottom : 100px;
  font-size : 1.5em;
  background-color : #2f4f4f;
  margin-right : 600px;
  margin-left : 650px;
  color : #5b6c5d;
}

.header-3 {
  text-align : center;
  color: #654a4e;
  font-family: "DomaineDisplayNarrow",Georgia,serif;
  margin-top : 30px;
}

body {
  padding-top : 60px;
  position : relative;
}

label {
  color : inherit#000000;
}

#form_one {
  padding-top : 80px;
}

#form_two {
  margin-bottom : 100px;
  border-radius: 5px;
}

ul li {
  font-family: "Open Sans"
}
/* List */

.col li span:hover {
    color : white;
}

/* Accordian FAQ */


#accordion {
  padding-bottom : 200px;
  padding-top : 100px;
}

.container {
  padding-top : 50px;
  width : 100%;
}

#faq h2 {
  font-family: "Open Sans"
  color : white;
  font-size : 5.2em;
}

.card button {
  font-family: "Open Sans"
  font-weight : 300;
  font-size : 2.7em;
  color : #f8f8f8;

}

.card button: hover {
  text-decoration: none;
}

.card-body {
  font-size : 1.5em;
  color : #f8f8f8;
}

#faq {
  text-align : center;
  background-image : url("../img/meeting2.jpg");
  background-attachment : fixed;
  background-size : cover;
  color : white;
  padding-top: 100px;
}

.faq3 {
  background-color: #211103;
  border-radius: 5px;
}


/* carousel */

.carousel-caption {
  font-family : "Open Sans";
  font-size : 4.5em;
  font-weight : 400;
  color : #292121;
  padding-bottom : 150px;
  line-height: 1.5;
}

.item img {
  opacity : 0.5;
  filter : alpha(opacity=50);
}

.item p {
  text-transform : full-width;
  vertical-align : text-top;
}

h3 {
  text-align : center;
  font-size : 3.5em;
}

#row {
  padding : 100px 60px 100px;
}

#p1 p {
  line-height : 2.8;
}

#p2 p {
  line-height : 2.3;
}

#p3 p {
  line-height : 3.4;
}

/* Skill List */

.intro {
  text-align : center;
  font-size : 2.5em;
  margin-left : 20px;
}

.image img {
  width : 100%;
}

.skill {
  background-color : #34495e;
  color : #fff;
  line-height : 3;
  font-size : 1.2em;
  padding-top : 20px;
  padding-bottom: 15px;
  border-radius: 5px;
}

/* Nav Bar */

.nav {
    font-family : "Open Sans";
}

.projectName a {
  font-family : "Open Sans";
  color : grey;
  text-transform : uppercase;
  text-decoration : none;
}

.navbar {
  padding-bottom : 10px;
}

header {
  font-family : "Open Sans";
}

.projectName a:hover {
  color : white;
}

/* Kittens */

#work {
  padding-bottom : 100px;
  max-height: 200px;
  border-radius: 5px;
}

/*  Video */

.embed-responsive-16by9 {
  margin-bottom : 70px;
  margin-top : 100px;
}

/* Modal */

#modal {
  margin-left : 780px;
  margin-top : 200px;
}

@media (min-width: 768px) {
  .modal-button button {
    float : right;
  }
}

#modalembed {
  height : 800px;
  width : 100%;
}

/* Works Array */

.work-img {
  display : block; /* needed to center the element with margin */
  margin : auto; /* center the image inside the column if it's smaller */
  max-width : 200px; /* needs to be set to the width of your image files if they are relatively small */
  position : relative; /* is needed for .info position: absolute to work */
}

.info {
  display : none;
  position : absolute; /* let's us move the text around and not worry about the image */

  font-family : "Open Sans";
  text-transform : uppercase;
  font-weight : 700;
  letter-spacing : 0.5em;
  line-height : 1.6;
  color : white;
}

.proj-title {
  font-weight : 100;
  font-family : "Muli";
  color : black;
}

/* javascript api */

html body {
  height : 100%;
  margin : 0;
  padding : 0;
}

#map {
  width : 600;
  height : 450px;
}

.workpage {
  font-family : "Open Sans";
  padding-top : 150px;
  background-color : #5b6c5d;
  padding-bottom : 100px;
}

.workpage h3{
  padding-bottom : 75px;
  color : white;
  font-size : 5em;
}

#form_two {
  background-color: #eaeaea;
}

footer {
  margin-top: 5px;
}

.set {
  border-radius: 5px;
}

.image {
  border-radius: 5px;
}


.btn-link:focus {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

.row-space {
  margin-bottom: 50px;
}
